---
title: Third
tags: ['foo']
---
<h1>{{title}}</h1>

{{#each groups.tags as |items tag|}}
  <div>{{tag}}</div>
  <ul>
  {{#each items as |item|}}
    <li>{{item.stem}}</li>
  {{/each}}
  </ul>
{{/each}}
